/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 400px;
	top: 0;
	left: 0;
	background: rgba(161,41,38,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	z-index: 2;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc .wrapper-center {
	text-align: center;
	width: 850px;
	margin: 5% auto 0;
	font-size: 25px;
	color: #fff;
	font-family: gotham;
}

.overlay-hugeinc .wrapper-center h1 {
	margin-top: 0;
	font-size: 46px;
}

.overlay-hugeinc .wrapper-center a {
	color: #EA952F;
	font-size: 30px;
	text-decoration: underline;
}

@media only screen and (max-width : 768px) {
	.overlay-hugeinc .wrapper-center {
		width: 550px;
	    margin: 30% auto 0;
	}
	.overlay-hugeinc .wrapper-center h1 {
		font-size: 36px;
	}
}

@media only screen and (max-width : 670px) {
	.overlay-hugeinc .wrapper-center {
		margin: 2% auto 0;
	}
	.overlay-hugeinc .wrapper-center h1 {
		font-size: 18px;
	}
	.overlay-hugeinc .wrapper-center {
		font-size: 12px;
	}
	.overlay-hugeinc .wrapper-center a {
		font-size: 14px;
	}
	.overlay .overlay-close {
		width: 40px;
		height: 40px;
	}
}

@media only screen and (max-width : 480px) {
	.overlay-hugeinc .wrapper-center {
		width: 280px;
	    margin: 10% auto 0;
	    font-size: 15px;
	}

	.overlay-hugeinc .wrapper-center h1 {
		font-size: 20px; 
	}

	.overlay-hugeinc .wrapper-center a {
		font-size: 16px;
	}
}


.outer{
	background-color: #fff;
	min-height: 500px;
	text-align: center;
}

.outer-2{
	background-color: #0E1222;
	min-height: 500px;
	text-align: center;
	color: #fff;
}

.pad50A{
	padding: 50px;
}

.mrg50T{
	margin-top: 50px;
}